.footer{
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

#light .footer{
  background: #000000;
  color: #ffffff
}

#dark .footer{
  background: var(--primary-color);
  color: #000000;
}


.footer__text{
  line-height: 30px;
  color: #fff;
}

.list-group-item {
  background-color: transparent !important;
  color: rgb(255, 255, 255, 0.735);
}

.quick__links-title{
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

.footer__contact span{
  font-size: 1.3rem;
}

.footer__contact p{
  font-size: 0.9rem;
}

.footer__copyright{
  color: #fff;
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}

#light{
  background: #000000;
  color: #ffffff
}

#dark{
  background: #ffffff;
  color: #000000;
}
