/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --nav-links: #ffff;
  --background-color: #000;
  --heading-text-color: #000000;
  --light-text-color: #ffffffaf;
  --dark-text-color: #ffffffff;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h3,
h4,
h5 {
  font-size: 15px;
  padding: 5px 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

/* #light p{
  color: #ffffffff;
}

#dark p{
  color: #ffffffaf;
} */

h1,
h2 {
  font-size: var(--heading-fontSize);
  color: var(--heading-text-color);
}

/* #light h2{
  color: #ffffffff;
}

#dark h2{
  color: #ffffffaf;
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

/* #light a{
  color: #ffffff;
}

#dark a{
  color: #ffffffaf;
} */

img {
  width: 100%;
}

/* section{
  padding: 40px;
} */

.section__tilte {
  color: var(--primary-color);
  font-weight: 600;
}

.react__switch {
  position: absolute;
  float: right;
  right: 10px;
}
